.education-title {
  color: #00f7e6;
  font-family: "Roboto Mono", monospace;
  font-size: 3rem;
}

.wrapper {
overflow-x: hidden;
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
  & .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: #030f28;
    background: linear-gradient(0deg, #030f28 0%, #00f7e6 100%);
    left: 50%;
    transform: translateX(-50%);
  }
  & .row {
    display: flex;
    & section {
      background: #030f28;
      border: 1px solid #00f7e6;
      border-radius: 5px;
      width: calc(50% - 40px);
      padding: 20px;
      position: relative;
      color: white;
      & p {
        margin: 10px 0 17px 0;
      }
      & .icon {
        position: absolute;
        background: rgb(18, 42, 179);
        background: radial-gradient(circle, #030f28 31%, #00f7e6 90%);
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        font-size: 17px;
        box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
          0 3px 0 4px rgba(0, 0, 0, 0.05);
      }
      & .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .title {
          font-size: 22px;
          font-weight: 600;
        }
      }
      &::before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background: #030f28;
        background: linear-gradient(90deg, #030f28 12%, #00f7e6 97%);
        top: 28px;
        z-index: -1;
        transform: rotate(45deg);
      }
    }
  }
  & .row-1 {
    justify-content: flex-start;
    & section::before {
      right: -7px;
    }
    & section .icon {
      top: 15px;
      right: -60px;
    }
  }
  & .row-2 {
    justify-content: flex-end;
    & section::before {
      left: -7px;
    }
    & section .icon {
      top: 15px;
      left: -60px;
    }
  }
}

@media (max-width: 790px) {
  .wrapper {
    & .center-line {
      left: 40px;
    }
    & .row {
      margin: 30px 0 3px 60px;
      & section {
        width: 100%;
      }
    }
  }

  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -60px;
  }
}
@media (max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper .row {
    margin: 50px 0;
  }
}
