#projects {
  padding: 1.5rem 0.5rem;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #00f7e6;
}

.swiper_container {
  position: relative;
}

.swiper-slide {
  width: 25rem; //se puede modificar
  position: relative;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
