@mixin breakpoint($point) {
  @if $point == lg {
    // 992px
    @media (min-width: 62rem) {
      @content;
    }
  }
}

.header {
  background: #030f28; //del navbar MODIFICAR
  width: 100%;
  /*   height: 80px; */
  padding: 0 2rem;
  @include breakpoint(lg) {
    padding: 0 1.5rem;
  }
  transition: 0.3s ease all;

  &--content {
    overflow: hidden;
    color: #fff;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    font-family: 'Roboto Mono', monospace;
    &--logo {
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
      color: white;
      &:hover {
        color: #00f7e6;
      }
    }

    &--nav {
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba(
        rgb(32, 32, 32),
        0.9
      ); //fonfe de cuando se activo el togle
      backdrop-filter: blur(2px); //que tan borroso quiero q se vea el fondo
      transform: translate(0);
      transition: 0.3s ease transform;
      font-family: 'Roboto Mono', monospace;
      @include breakpoint(lg) {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
      }
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        @include breakpoint(lg) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
          margin-right: calc(0.5rem + #{16px});
        }
        li {
          &:not(:last-child) {
            margin-bottom: 32px;
            @include breakpoint(lg) {
              margin-bottom: 0;
            }
          }
          a {
            text-decoration: none;
            color: inherit;
            padding: 0.5rem;
            border-radius: 20px;
            transition: 0.3s ease all;

            &:hover {
              background: rgb(
                0,
                247,
                230,
                0.5
              ); //MODIFICAR cuando se hace hover en el los links
            }
            &:active {
              border-radius: calc(#{12px} + 6px);
              background: linear-gradient(rgba(#fff, 0.1), rgba(#fff, 0.2));
            }
          }
        }
      }

      &.isMenu {
        transform: translate(100%);
      }
    }

    &--toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;

      &:hover {
        color: #00f7e6;
      }

      @include breakpoint(lg) {
        display: none;
      }
    }
  }
}

@media (width <= 992px) {
  .header--content {
    flex-direction: row-reverse;
  }
}
